:root{
--tipo-de-letra:'ARCO';
--color-de-fondo-estadisticas:rgba(255, 255, 255, 0.2);
}

@font-face {
    font-family: 'ARCO';
    src: url(fonts/ARCO.ttf);
}

body{
background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
font-family: var(--tipo-de-letra);
color:white
}

main{
    outline: 2px solid black;
    margin: 30px auto;
    display: flex;
}

.panel-tarjetas{
    background-color: var(--color-de-fondo-estadisticas);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}
